/*
Normally, these styles would be scoped out to separate modules
to make it clearer where styles apply, and avoid class name collisions. Given
the small size of this exercise I've just added them in the main App css file.
*/

.nameAndLocationContainer {
  width: 75%;
  margin: 6rem auto;
}

.inputFieldWrapper {
  display: flex;
  margin: 0;
}

label {
  margin-right: 1rem;
  width: 6rem;
  text-align: right;
}

.name {
  min-width: 300px;
}

.location {
 min-width: 308px;
}

.validationMessage {
  margin: 0 0 0 7rem;
  height: 3rem;
  font-size: .8rem;
  color: red;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

button {
  margin: .5rem;
  padding: .25rem 1rem;
  border-radius: 1rem;
}

.addButton {
  background: blue;
  color: white;
}

.addButton:disabled {
  background: rgba(239, 239, 239, 0.3);
  color: gray;
}

.dataTable {
  border: 2px solid black;
}

.tableHeader, .tableRow {
  display: flex;
}

.tableHeader {
  border-bottom: 2px solid black;
  background: gray;
}

.tableHeader .nameItem, .tableHeader .locationItem {
  font-weight: bold;
}

.nameItem {
  margin-left: 1rem;
  width: 20rem;
}

.locationItem {
  padding-right: 1rem;
}

.stripe {
  background: rgba(239, 239, 239, 0.9);
}

@media (max-width: 500px) {
  label {
    margin-right: 1rem;
    width: 4rem;
    text-align: right;
  }

  .name {
    min-width: 200px;
  }

  .location {
   min-width: 208px;
  }
}